{% extends "@App/layout.html.twig" %}

{% set ng_app = '' %}

{% set title = 'Hello World' %}

{%- block body -%}

    {% include '@App/Global/logo.html.twig' %}

    <a href="{{ path('app_static_app') }}">Application</a>

{%- endblock -%}
