{% spaceless %}
    <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-whiteframe="4">
        <md-toolbar>
            <h1 class="md-toolbar-tools">
                Menu
            </h1>
        </md-toolbar>
        <md-list>
            <md-subheader>Actions</md-subheader>
            <md-list-item>
                <p>@TODO 1</p>
                <md-icon class="material-icons">people</md-icon>
            </md-list-item>
            <md-list-item>
                <p>@TODO 2</p>
                <md-icon class="material-icons">add</md-icon>
            </md-list-item>
            <md-list-item>
                <p>@TODO 3</p>
                <md-icon class="material-icons">close</md-icon>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader>Compte</md-subheader>
            <md-list-item href="{{ url('fos_user_security_logout') }}">
                <p>Déconnexion</p>
                <md-icon class="material-icons">exit_to_app</md-icon>
            </md-list-item>
        </md-list>
        </md-list>
    </md-sidenav>
{% endspaceless %}
