<md-dialog ng-cloak>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Wooops ):</h2>
        </div>
    </md-toolbar>

    <md-content layout-padding layout>

        <p>
            Le site <strong>{[ message ]}</strong> n'est pas encore pris en charge par Proshop.
        </p>

    </md-content>

    <div layout layout-align="end">
        <md-button ng-click="cancel()">
            Continuer
        </md-button>
    </div>

</md-dialog>
