<md-dialog ng-cloak>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{[ product.title ]}</h2>
        </div>
    </md-toolbar>

    <md-content layout-padding layout>

        <div>
            <img src="{[ product.image ]}" alt="">
        </div>

        <div>
            <h2 class="md-headline">
                <strong>
                    {[ product.supplier ]}
                </strong>
            </h2>
            <h2 class="md-headline">
                <strong>
                    {[ product.brand ]}
                </strong>
                {[ product.price ]}
            </h2>
            <p class="md-body-2">
                {[ product.reference ]}
            </p>
        </div>

    </md-content>

</md-dialog>
